{% extends 'base.html' %}

{% block content %}
    <div class="row align-items-center border-bottom mb-4">
        <div class="col-sm">
            <h1 class="mt-4">Tables</h1>
        </div>
        <div class="col-sm row justify-content-end mb-2 mr-1">
            <a class="btn btn-primary mt-4 mr-1" href="{% url 'add-expense' %}">Add Expense</a>
            <div class="dropdown mt-4">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by Date
                </a>
            
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Today</a>
                    <a class="dropdown-item" href="#">This month</a>
                    <a class="dropdown-item" href="#">This year</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">       
        <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable Example</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>User</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for obj in object_list %}
                        <tr>
                            <td>{{ obj.created|date:"Y/m/d" }}</td>
                             <td>{{ obj.title }}</td>
                             <td>{{ obj.description }}</td>
                             <td>{{ obj.categor }}</td>
                             <td>{{ obj.amount }}</td>
                             <td>{{ obj.user.user.username }}</td>
                         </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}